services:
  contracts:
    build: ./contracts
    volumes:
      - contracts_target:/app/target
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      contracts:
        condition: service_completed_successfully
    volumes:
      - contracts_target:/contracts/target
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PXE_URL=http://host.docker.internal:8080
  frontend:
    build: ./frontend
    ports:
      - "8000:8000"
    depends_on:
      - backend
    
volumes:
  contracts_target: