services:
  contracts:
    build: ./contracts
    volumes:
      - contracts_target:/app/target

  backend:
    build: ./backend
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      contracts:
        condition: service_completed_successfully
      aztec:
        condition: service_healthy
    volumes:
      - contracts_target:/contracts/target
    environment:
      PXE_URL: http://aztec:${PXE_PORT:-8080}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s

  frontend:
    build: ./frontend
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      backend:
        condition: service_healthy
  
  # ported from https://github.com/AztecProtocol/aztec-packages/blob/master/aztec-up/bin/docker-compose.sandbox.yml and added healthcheck
  ethereum:
    image: ghcr.io/foundry-rs/foundry@sha256:29ba6e34379e79c342ec02d437beb7929c9e254261e8032b17e187be71a2609f
    command: >
      '
      [ -n "$$FORK_URL" ] && ARGS="$$ARGS --fork-url $$FORK_URL";
      [ -n "$$FORK_BLOCK_NUMBER" ] && ARGS="$$ARGS --fork-block-number $$FORK_BLOCK_NUMBER";
      echo anvil -p $$ANVIL_PORT --host 0.0.0.0 --chain-id 31337 --silent $$ARGS;
      anvil -p $$ANVIL_PORT --host 0.0.0.0 --chain-id 31337 --silent $$ARGS
      '
    ports:
      - "${ANVIL_PORT:-8545}:${ANVIL_PORT:-8545}"
    environment:
      FORK_URL:
      FORK_BLOCK_NUMBER:
      ANVIL_PORT: ${ANVIL_PORT:-8545}

  aztec:
    image: "aztecprotocol/aztec:alphanet-x86_64"
    ports:
      - "${PXE_PORT:-8080}:${PXE_PORT:-8080}"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8080"]
      interval: 15s
      timeout: 5s
      retries: 15
      start_period: 20s
    environment:
      DEBUG: # Loaded from the user shell if explicitly set
      HOST_WORKDIR: "${PWD}" # Loaded from the user shell to show log files absolute path in host
      ETHEREUM_HOST: ${ETHEREUM_HOST:-http://ethereum:${ANVIL_PORT:-8545}}
      L1_CHAIN_ID: 31337
      ARCHIVER_POLLING_INTERVAL_MS: 50
      P2P_BLOCK_CHECK_INTERVAL_MS: 50
      SEQ_TX_POLLING_INTERVAL_MS: 50
      WS_BLOCK_CHECK_INTERVAL_MS: 50
      PXE_BLOCK_POLLING_INTERVAL_MS: 50
      ARCHIVER_VIEM_POLLING_INTERVAL_MS: 500
      PXE_PORT: ${PXE_PORT:-8080}
      PORT: ${AZTEC_NODE_PORT:-8080}
      TEST_ACCOUNTS: ${TEST_ACCOUNTS:-true}
    depends_on:
      - ethereum
    command: "start --sandbox"
    
volumes:
  contracts_target: